@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/thumbs";
@import "tw-animate-css";

@theme {
  --color-primary-500: #ffc700;
  --color-primary-600: #f0b100;
  --color-secondary-500: #01261c;
}
/* navbar */
.nav-link {
  @apply text-xs lg:text-base transition font-medium duration-400 hover:text-primary-500;
}

.active {
  color: #ffc700;
}
/* home */
.swiper-button-next,
.swiper-button-prev {
  color: #ffc700 !important;
}

.after::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  height: 5px;
  width: 50%;
  background-color: #f0b100;
  transition: width 0.4s ease-in-out;
  border-radius: 4px;
}
.after:hover::after {
  width: 100%;
}
